
// Define SCSS variables
$light-mode-background: #282c34;
$light-mode-text-color: #ffffff;

$dark-mode-background: #111111;
$dark-mode-text-color: #ffffff;

// Styles for light mode
.light-mode .App-header {
  background-color: $light-mode-background;
  color: $light-mode-text-color;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.App-link {
  color: #61dafb;
}


// Styles for dark mode
.App.dark-mode {
  background-color: #282c34; // Dark background color
  color: #ffffff;
}

.dark-mode .top-nav-bar__logo {
  background-color: #282c34; // Dark background color
  color: #ffffff;
}

.photo-details-modal {
  background-color: #282c34; // Dark background color
  color: #ffffff;
}



// Dark mode styles
.App.dark {
  background-color: #282c34;
  color: #ffffff; 

  .top-nav-bar__logo {
    color: #ffffff; 
  }
  .dark-mode-button {
    background-color: #282c34;
  }
  
  .photo-details-modal {
    background-color: #282c34;
    color: #ffffff;
  }

  h2 {
    color: #ffffff;
  }

  .photo-details-modal__close-button {
    background-color: #282c34;
  }

  .topic-list__item span {
    color: #ffffff;
  
    &:hover {
      color: #ffffff;
    }
  }

  .top-nav-bar {
    -webkit-box-shadow: 0 4px 6px -6px #ffffff;
    -moz-box-shadow: 0 4px 6px -6px #ffffff;
    box-shadow: 0 4px 6px -6px #837f7f;
  }
  
  span {
    color: #ffffff;
  }
} 


// Media Queries
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
